<!DOCTYPE html>
<html>
<head>
  <title>Millas</title>
  <%= stylesheet_link_tag    "millas/application", media: "all" %>
  <%= javascript_include_tag "millas/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
